.pratique_pro_banner {
  background-position: center;
  background-size: cover;
  background-color: black;
}

.pratique_pro_page {
  counter-reset: title;

  h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: var(--color-gray);
  }
}

.pratique_pro_title {
  position: relative;
  counter-increment: title;
  font-size: 1.2rem;
  margin: 1.75rem 2rem;
  padding-left: 2.5rem;
  text-decoration: underline;
  font-weight: 600;
}

.pratique_pro_title:before {
  content: counter(title) '.';
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: -1.1rem;
  left: -1rem;
  font-size: 1.1em;
  padding: 0.15em 0.25em;
  background: var(--color-dark-red);
  color: var(--color-white);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.analysis_wrapper,
.process_wrapper,
.tools_wrapper {
  ul {
    margin: 15px auto 15px 50px;
    line-height: 1.8em;
  }
}

.process_wrapper {
  margin: 10px auto;
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  .analysis_wrapper,
  .process_wrapper,
  .tools_wrapper {
    ul {
      margin: 15px auto;
    }
  }

  .accordion_wrapper {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .pratique_pro_page {
    max-width: 900px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .analysis_wrapper,
  .process_wrapper,
  .tools_wrapper {
    ul {
      font-size: 15px;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .pratique_pro_banner {
    background-size: contain;
  }
}

/* ipad landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .pratique_pro_banner {
    background-size: cover;
  }
}
