.accordion_wrapper {
  margin: 50px auto;
  width: 90%;
}

// accordion
.accordion {
  background-color: var(--color-dark-red);
  font-family: var(--font-openSans);
  letter-spacing: 1px;
  font-size: 15px;
  color: var(--color-white);
  cursor: pointer;
  width: 100%;
  border: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  border: 1px solid white;
  text-align: left;

  &::after {
    content: '\276F';
    text-align: center;
    font-size: 14px;
    color: var(--color-white);
    float: right;
    margin-left: 5px;
    transition: 0.35s ease;
  }
}

.first_child {
  border-radius: 8px 8px 0 0;
}

.last_child {
  border-radius: 0 0 8px 8px;
}

.accordion_active:after {
  content: '\276F';
  transform: rotate(90deg);
}

.accordion_active,
.accordion:hover {
  background-color: #9e002c;
}

.accordion_panel {
  padding: 0 20px;
  background-color: var(--color-white);
}

.contentWrapper {
  padding: 1rem 0;
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  .accordion_wrapper {
    width: 100%;
  }
}
