.banner {
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(https://res.cloudinary.com/dqszntd5j/image/upload/v1594733784/banner.jpg);
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  padding-inline: 12rem;

  .banner_text {
    margin-top: 50px;
  }

  .page_title h1 {
    letter-spacing: 0.1em;
    margin: 0 0 20px;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
  }

  .page_title span {
    letter-spacing: 0.8rem;
    margin: 0 0 20px 1rem;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
  }

  h2 {
    margin: 0 auto;
    font-size: 28px;
    font-weight: 600;
    color: var(--color-white);
  }

  h3 {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-white);
  }
}

.btn_flat_outline {
  margin: 20px 0;
  color: var(--color-white);
  padding: 10px 15px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid var(--color-dark-red);
  background: var(--color-dark-red);
  border-radius: 5px;

  &:hover {
    box-shadow: 1px 1px 6px 0px rgba(255, 255, 255, 0.75);
  }
}

// scroll icon
.icon_scroll,
.icon_scroll:before {
  position: absolute;
  left: 50%;
}

.icon_scroll {
  bottom: 15px;
  width: 34px;
  height: 55px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon_scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(38px);
  }
}

// subBanner section
.quote {
  margin-bottom: 40px;
}

.quote_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

.blockquote {
  font-family: var(--font-poppins);
  position: relative;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.blockquote p:before {
  content: '\201C';
  font-family: Helvetica;
  font-weight: 400;
  color: var(--color-dark-red);
  font-size: 7em;
  position: absolute;
  top: -85%;
  left: -3%;
}

.blockquote p:after {
  content: '\201D';
  font-family: Helvetica;
  font-weight: 400;
  color: var(--color-dark-red);
  font-size: 7em;
  position: absolute;
  top: 15%;
  right: 2%;
}

.quote_text p {
  font-style: italic;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  max-width: 740px;
  margin: 8px 20px 0 20px;
  padding: 0 20px;
}

.introduction {
  margin: 80px auto 0;

  a {
    color: var(--color-gray);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--color-gray);
    }
  }
}

.sub_banner_title {
  margin: -10px auto 20px;
  font-size: 22px;
}

.xp {
  margin: 20px auto;
  width: fit-content;

  p {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.85rem 0;
  }
}

// services section
.services_cards_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px auto;
  flex-wrap: wrap;
}

.reinsurance_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 50px auto;
  width: fit-content;
}

.cta_catalogue {
  text-align: center;

  a {
    color: var(--color-gray);

    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    min-height: calc(100vh - 80px);
  }

  .quote {
    padding: 0;
  }

  .quote_wrapper {
    margin: 0 auto 20px auto;
  }

  .quote_text {
    p {
      margin: 0 auto;
      padding: 0;
      font-size: 16px;
    }
  }

  .blockquote p:before {
    font-size: 7em;
    top: -34%;
    left: -13%;
  }

  .blockquote p:after {
    font-size: 7em;
    top: 70%;
    right: 0%;
  }

  .introduction {
    margin: 0 auto 40px;
  }

  .wrapper_left img {
    text-align: center;
    margin: 20px auto 40px;
  }
}

@media (min-width: 768px) {
  .introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 812px) {
  .page_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 320px) and (max-width: 812px) {
  .banner {
    text-align: center;
    justify-content: center;
    padding-inline: 0;

    h1 {
      font-size: 32px;
      margin: 0;
    }

    h2 {
      font-size: 24px;
      margin: 20px auto 0;
    }

    h3 {
      font-size: 22px;
    }

    .banner_text {
      margin-top: 0;
    }
  }

  .btn_flat_outline {
    margin: 50px 0;
  }

  .xp {
    h3 {
      font-size: 16px;
    }
  }

  .reinsurance_wrapper {
    justify-content: center;
  }
}

// phones
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .icon_scroll {
    display: none;
  }

  .sub_banner_title {
    font-size: 18px;
  }

  .blockquote p:after {
    top: 65%;
  }

  .xp p {
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .page_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .banner_text {
    margin-top: 15px;
    padding-bottom: 25px;

    h2,
    h3 {
      width: 530px;
    }
  }

  .btn_flat_outline {
    margin: 40px auto 0;
  }

  .blockquote p:before {
    top: -35%;
    left: -8%;
  }

  .blockquote p:after {
    top: 55%;
    right: 0%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .page_title {
    display: block;
  }

  #conseil {
    letter-spacing: 0.5rem;
    margin-left: 0;
  }
}

// ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .banner {
    text-align: center;
    padding-inline: 10rem;
  }

  .page_title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .page_title {
    justify-content: flex-start;
  }
}

@media (max-height: 420px) {
  .icon_scroll {
    display: none;
  }
}
