.accompagnement_banner {
  background-position: bottom;
}

.accompagnement_wrapper {
  ul {
    margin: 20px auto;
    line-height: 2em;
  }
}

@media (max-width: 991px) {
  #accompagnement_title {
    font-size: 30px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .accompagnement_banner {
    background-position: center;
  }
}
